{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1>{{'produit.titre'|trans}}</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('produit_index') }}">retour a la liste</a>
{% endblock %}
